* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   line-height: 1;
   appearance: none;
   text-decoration: none;
   font-family: var(--font);
   color: var(--Cor-01);
}
html, body {
   background-color: var(--Cor-01);
}