.form-register {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 570px;
    padding-right: 15px;
}
.form {
    background-color: var(--Branco);
    width: 500px;
    height: 450px;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #c0c0c0, -2px -2px 5px #c0c0c0;
}
.title-form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}
.title-form h3 {
    color: var(--Azul-escuro);
    font-size: 28px;
}
.input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 23px;
    border: 2px solid #c0c0c0;
    border-radius: 5px;
    padding: 4px;
}
.input img {
    width: 20px;
    margin: 0 0 0 8px;
}
.input input {
    width: 100%;
    font-size: 16px;
    padding: 14px;
    color: var(--Preto);
}
#btn {
    display: flex;
    justify-content: center;
    background-color: var(--Azul-claro);
    padding: 18px;
    border-radius: 5px;
    transition: linear 0.4s;
}
#btn:hover {
    background-color: #02a0d9;
}
#btn button {
    color: var(--Branco);
    background-color: transparent;
    font-size: 18px;
}

/* Responsividade Principal 
@media screen and (min-width: 992px) {
    
}
*/