.options-register {
    display: flex;
    width: 100%;
}
.options-register p {
    margin-right: 8px;
    color: var(--Preto);
}
.options-register a {
    color: var(--Azul-claro);
}
.options-register a:hover {
    text-decoration: underline;
    color: var(--Azul-escuro);
}