header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px 15px 0 15px;
    background: linear-gradient(90deg, rgba(0,76,128,1) 0%, rgba(0,170,234,1) 100%);
}
.container {
    width: 1140px;
    height: 625px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.box-btn-lr {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1140px;
    height: 55px;
}
.btn__login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn__login-register a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--Branco);
    border: 1px solid var(--Branco);
    border-radius: 3px;
    transition: linear 0.2s;
    font-weight: 500;
}
.btn__login-register a:hover {
    background-color: var(--Branco);
    color: var(--Azul-escuro);
}
.btn__login-register span {
    width: 1px;
    height: 35px;
    background-color: var(--Branco);
}
.container-topo {
    max-width: 100%;
    display: flex;
}
.box-log-desc, .box-profile {
    width: 570px;
}
.box-log-desc .logo {
    margin: 20px 0 42px 0;
}
.logo a img {
    width: 180px;
}
.headline h2{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.container-topo .box-profile {
    display: flex;
    justify-content: center;
    height: 550px;
}
.box-profile .photo {
    display: flex;
    justify-content: center;
}
.photo img {
    width: 100%;
}
.curve-1 {
    position: absolute;
    bottom: -4px;
}
.curve-1 img {
    width: 100%;
}
/* Responsividade Principal 
@media screen and (min-width: 992px) {
    
}
*/