header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px 15px 0 15px;
    background: linear-gradient(90deg, rgba(0,76,128,1) 0%, rgba(0,170,234,1) 100%);
}

.login-register {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1140px;
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.lg-rg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 60px;
    gap: 10px;
}
.lg-rg a {
    border: 2px solid var(--Branco);
    padding: 12px 60px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: linear 0.3s;
    color: var(--Branco);
}
.lg-rg a:hover {
    background-color: var(--Branco);
    color: var(--Azul-escuro);
}
.container {
    width: 1140px;
    height: 550px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-topo {
    max-width: 100%;
    display: flex;
}
.content-log-desc, .profile {
    width: 570px;
}
.content-log-desc .logo {
    margin: 20px 0 42px 0;
}
.logo a img {
    width: 180px;
}
.headline h2{
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.container-topo .profile {
    display: flex;
    justify-content: center;
    height: 550px;
}
.profile .photo-doc {
    display: flex;
    justify-content: center;
}
.photo-doc img {
    width: 100%;
}
.curve-1 {
    position: absolute;
    bottom: -4px;
}
.curve-1 img {
    width: 100%;
}
/* Responsividade Principal 
@media screen and (min-width: 992px) {
    
}
*/