footer {
    position: relative;
    background: linear-gradient(90deg, rgba(0,76,128,1) 0%, rgba(0,170,234,1) 100%);
}
.footer {
    display: flex;
    max-width: 100%;
    height: 250px;
}
.logo-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}
.logo-footer img {
    width: 120px;
}
.descrition-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
}
.descrition-footer a {
    padding-left: 15px;
    color: var(--Branco);
}