footer {
    position: relative;
    height: 60vh;
    background: rgb(0,76,128);
    background: linear-gradient(90deg, rgba(0,76,128,1) 0%, rgba(0,170,234,1) 100%);
}
footer .curve-02 {
    position: absolute;
}
footer h1 {
    color: black;
}