header {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 15px 0 15px;
    background: linear-gradient(90deg, rgba(0,76,128,1) 0%, rgba(0,170,234,1) 100%);
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-topo {
    display: flex;
    justify-content: center;
    width: 1140px;
    height: 550px;
}

.container .headline {
    max-width: 530px;
}
.container .headline .logo {
    margin: 46px 0px 46px 0px;
}
.container .headline .logo a img {
    width: 180px;
}

.container .headline .headline__text h2{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.container .banner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 610px;
    height: 100%;
}
.container .banner .file-doc {
    display: flex;
    justify-content: center;
}
.container .banner .file-doc img {
    width: 320px;
}
.curve-01 {
    position: absolute;
    bottom: -4px;
}
.curve-01 img {
    width: 100%;
}
/* Responsividade Para o Container */
@media screen and (max-width: 1200px) {
    /* Adicione estilos específicos para esta resolução aqui */
    .container-topo {
        max-width: 960px;
    }
}
@media screen and (max-width: 991px) {
    .container-topo{
        max-width: 900px;
    }
    .container .banner {
        max-width: 0px;
    }
    .container .banner .file-doc img {
        display: none;
    }
    .services h3 {
        font-size: 34px;
        color: var(--Azul-escuro);
        margin: 10px 0 40px 0;
    }
    .colunas-003 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
    }
    .services, .form_register {
        padding: 0;
        margin-bottom: 15px;
        max-width: 570px;
    }
}
@media screen and (max-width: 768px) {
    .container-topo {
        max-width: 540px;
    }
    .services, .form_register {
        padding: 0;
        max-width: 480px;
    }
    .services-form {
        padding: 0px;
    }
}
@media screen and (max-width: 574px) {
    .container-topo {
        max-width: 510px;
    }
}
@media screen and (max-width: 435px) {
    .container-topo {
        max-width: 404px;
    }
}
@media screen and (max-width: 340px) {
    .container-topo {
        max-width: 309px;
    }
}












/* Para iPhone 6 375x667 */
@media screen and (max-width: 375px) {
    /* Adicione estilos específicos para esta resolução aqui */
}